/* Keyframes to animate the hand in the intro */
@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

.waving-hand {
    display: inline-block;
    animation: wave 1.2s infinite ease-in-out; /* Infinite wave animation */
    padding: 0 15px;
    width: 50px;
}