@use '../utilities/variables' as *;

/* Keyframes to animate the hand in the intro */
@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(15px);
      }
}

.content {
    .section {

        .welcome {
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: $creamy-yellow;
            text-align: center;

            .scroll-prompt {
                color: $onyx;
                font-size: 1.2rem;
                position: absolute;
                top: 120px;
                left: 50%;
                transform: translateX(-50%);
  
                .arrow-down {
                    position: relative;
                    margin: 0 auto;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 20px solid $onyx;
                    animation: bounce 1.5s infinite;
                }
            }
        }

        .intro, .welcome {
            display: flex;
            background: linear-gradient(45deg, $vivid-red, $gold, $dodger-blue);
            background-clip: text;
            color: transparent;
            flex-flow: column;
            padding: 0 75px;

            /* Portrait and Landscape */
            @media (min-width: 600px)  { // this is the breakpoint that fits the 2 divs nicely
                flex-flow: row;
            }

            .waving-hand {
                display: inline-block;
                animation: wave 1.2s infinite ease-in-out; /* Infinite wave animation */
                padding: 0 15px;
            }

            .point-down-hand {
                display: inline-block;
                animation: bounce 1.2s infinite ease-in-out;
                padding: 0 15px;
            }
        }
    }
}