@use '../utilities/variables' as *;

.menu {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        background-color: $white;

        /* Dark mode background color */
        @media (prefers-color-scheme: dark) {
            background-color: $dark-charcoal;
        }

        li {
            cursor: pointer;
            padding: 15px;
            border: 1px solid gray;

            a {
                text-decoration: none;
            }

            &:hover {
                background-color: gray;
            }
        }
    }
}
