.content {
    .section {
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: left;
    }
}