.work {
    font-family: Courier New, Courier, monospace;
    text-align: justify;

    &__list {

        list-style: none;
        padding-inline-start: 0;
        padding-left: 0;
        margin: 0;

        li {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__list-position {
        display: flex;
        justify-content: space-between;

        &>span:first-child {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    &__list-company {
        font-weight: 100;
        display: flex;
        justify-content: space-between;
    }

    &__list-location {
        font-style: italic;
    }

    &__list-description, &__list-summary {
        display: block;
        text-indent: 4rem;
        padding: 0.75rem 0;
    }

    &__list-summary {
        font-style: italic;
        text-shadow: 1px 1px 2px gray;
    }
}