$amber: #ffcd00;
$azure: #007bff;
$cobalt-blue: #0047ab;
$dark-charcoal: #121212;
$dark-cobalt: #0056b3;
$dove-gray: #666666;
$dodger-blue: #1e90ff;
$gold: #ffa600;
$near-white: #f9f9f9;
$onyx: #333333;
$vivid-pink: #ff3366;
$vivid-red: #ff0047;