@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.content {
    display: block;
    padding: 0;

    .section {
        height: 100vh;

        .hero-image {
            background-image: url('../images/bg.jpg');
            background-position: center;
            background-size: cover;
            margin: 0;
            height: 100vh;
            width: 100%;
            object-fit: cover;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: inherit;
              filter: blur(2px);
            }

            small {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
            }
        }
    }
}