$vivid-red: #ff0047;
$gold: #ffa600;
$dodger-blue: #1e90ff;

body {
    font-family: 'Courier New', Courier, monospace;
}

.main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 0 50px;

    .section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, $vivid-red, $gold, $dodger-blue);
        background-clip: text;
        color: transparent;
        flex-flow: column;

        /* Portrait and Landscape */
        @media only screen 
            and (min-device-width: 768px) 
            and (-webkit-min-device-pixel-ratio: 1) {
                flex-flow: row;
        }

    }
}

.waving-hand {
    display: inline-block;
    color: $vivid-red;
    animation: wave 1.2s infinite ease-in-out;
    padding: 0 20px;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}
