$vivid-red: #ff0047;
$gold: #ffa600;
$dodger-blue: #1e90ff;
$dark-charcoal: #121212;

body {
    font-family: 'Courier New', Courier, monospace;
    color: $dark-charcoal;
    background-color: white;

    /* Dark mode background color */
    @media (prefers-color-scheme: dark) {
        color: white;
        background-color: $dark-charcoal;
    }
}

a {
    color: $dark-charcoal;

    /* Dark mode background color */
    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

button {
    position: relative;
    left: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

img {
    max-width: 100%;
    width: 2.5rem;
    height: auto;
}

small {
    font-size: 0.5rem;
    font-weight: normal;
    display: inline-block;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;

    .section {
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .intro {
        background: linear-gradient(45deg, $vivid-red, $gold, $dodger-blue);
        background-clip: text;
        color: transparent;

        /* Portrait and Landscape */
        @media (min-width: 600px)  { // this is the breakpoint that fits the 2 divs nicely
            flex-flow: row;
        }
    }

    .quote {
        border-radius: 20px;
        height: auto;
        margin: 50px auto;
        padding: 20px;
        overflow-y: auto;
        font-size: 1rem;
        animation: pulse 20s infinite ease-in-out; /* Infinite pulse animation */
    }
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.waving-hand {
    display: inline-block;
    color: $vivid-red;
    animation: wave 1.2s infinite ease-in-out; /* Infinite wave animation */
    padding-right: 20px;
}

.options {
    position: fixed;
    bottom: 0;
    left: 0;
}

#menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    border-radius: 5px;
    bottom: 60px;
    left: 20px;
    background-color: white;

    /* Dark mode background color */
    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
        background-color: $dark-charcoal;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin: 15px;

            a {
                text-decoration: none;
            }
        }
    }
}

/* Keyframes to animate the hand in the intro */
@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

/* Keyframes to animate the pulsing effect of the quote box */
@keyframes pulse {
    0% {
        box-shadow: 0 0 100px rgba(135, 206, 250, 0.7), 0 0 150px rgba(135, 206, 250, 0.5), 0 0 200px rgba(135, 206, 250, 0.3);
    }
    25% {
        box-shadow: 0 0 10px rgba(135, 206, 250, 0.7), 0 0 30px rgba(135, 206, 250, 0.5), 0 0 60px rgba(135, 206, 250, 0.3);
    }
    50% {
        box-shadow: 0 0 100px rgba(135, 206, 250, 0.7), 0 0 150px rgba(135, 206, 250, 0.5), 0 0 200px rgba(135, 206, 250, 0.3);
    }
    75% {
        box-shadow: 0 0 10px rgba(135, 206, 250, 0.7), 0 0 30px rgba(135, 206, 250, 0.5), 0 0 60px rgba(135, 206, 250, 0.3);
    }
    100% {
        box-shadow: 0 0 100px rgba(135, 206, 250, 0.7), 0 0 150px rgba(135, 206, 250, 0.5), 0 0 200px rgba(135, 206, 250, 0.3);
    }
  }